USE [master]
GO
/****** Object:  Database [QuanLyChiTieu]    Script Date: 06/05/2025 4:25:32 CH ******/
CREATE DATABASE [QuanLyChiTieu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyChiTieu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyChiTieu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyChiTieu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyChiTieu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyChiTieu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyChiTieu]
GO
/****** Object:  Table [dbo].[ChiTieu]    Script Date: 06/05/2025 4:25:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_loaichitieu] [int] NOT NULL,
	[id_danhmuc] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[id_loaitiente] [int] NOT NULL,
	[total] [decimal](18, 2) NOT NULL,
	[create_at] [datetime] NULL,
	[notes] [nvarchar](255) NULL,
	[titles] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 06/05/2025 4:25:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sname] [nvarchar](100) NOT NULL,
	[scode] [varchar](50) NOT NULL,
	[sdefault] [bit] NULL,
	[descriptions] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[scode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnh]    Script Date: 06/05/2025 4:25:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_chitieu] [int] NOT NULL,
	[url_image] [nvarchar](255) NOT NULL,
	[create_at] [datetime] NULL,
	[notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiChiTieu]    Script Date: 06/05/2025 4:25:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiChiTieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sname] [nvarchar](100) NOT NULL,
	[scode] [varchar](50) NOT NULL,
	[descriptions] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[scode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNguoiDung]    Script Date: 06/05/2025 4:25:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNguoiDung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sname] [nvarchar](100) NOT NULL,
	[scode] [varchar](50) NOT NULL,
	[descriptions] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[scode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTienTe]    Script Date: 06/05/2025 4:25:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTienTe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sname] [nvarchar](100) NOT NULL,
	[scode] [varchar](50) NOT NULL,
	[sdefault] [bit] NULL,
	[converts] [varchar](50) NOT NULL,
	[descriptions] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[scode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 06/05/2025 4:25:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fname] [nvarchar](100) NULL,
	[lname] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](255) NULL,
	[gender] [nvarchar](10) NULL,
	[username] [varchar](100) NOT NULL,
	[pwd] [nvarchar](255) NOT NULL,
	[status_account] [bit] NULL,
	[create_at] [datetime] NULL,
	[id_loainguoidung] [int] NOT NULL,
	[descriptions] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTieu] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT ((0)) FOR [sdefault]
GO
ALTER TABLE [dbo].[HinhAnh] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[LoaiTienTe] ADD  DEFAULT ((0)) FOR [sdefault]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [status_account]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[ChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTieu_DanhMuc] FOREIGN KEY([id_danhmuc])
REFERENCES [dbo].[DanhMuc] ([id])
GO
ALTER TABLE [dbo].[ChiTieu] CHECK CONSTRAINT [FK_ChiTieu_DanhMuc]
GO
ALTER TABLE [dbo].[ChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTieu_LoaiChiTieu] FOREIGN KEY([id_loaichitieu])
REFERENCES [dbo].[LoaiChiTieu] ([id])
GO
ALTER TABLE [dbo].[ChiTieu] CHECK CONSTRAINT [FK_ChiTieu_LoaiChiTieu]
GO
ALTER TABLE [dbo].[ChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTieu_LoaiTienTe] FOREIGN KEY([id_loaitiente])
REFERENCES [dbo].[LoaiTienTe] ([id])
GO
ALTER TABLE [dbo].[ChiTieu] CHECK CONSTRAINT [FK_ChiTieu_LoaiTienTe]
GO
ALTER TABLE [dbo].[ChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTieu_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[NguoiDung] ([id])
GO
ALTER TABLE [dbo].[ChiTieu] CHECK CONSTRAINT [FK_ChiTieu_User]
GO
ALTER TABLE [dbo].[HinhAnh]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnh_ChiTieu] FOREIGN KEY([id_chitieu])
REFERENCES [dbo].[ChiTieu] ([id])
GO
ALTER TABLE [dbo].[HinhAnh] CHECK CONSTRAINT [FK_HinhAnh_ChiTieu]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_LoaiNguoiDung] FOREIGN KEY([id_loainguoidung])
REFERENCES [dbo].[LoaiNguoiDung] ([id])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_LoaiNguoiDung]
GO
USE [master]
GO
