@model QuanLyChiTieu.Models.NguoiDung

@{
    ViewData["Title"] = "Quản lý chi tiêu - Đăng nhập";
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background: rgb(172, 204, 245);
        }
        .login-box {
            max-width: 800px;
            margin: auto;
            margin-top: 10%;
            display: flex;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            border-radius: 12px;
            overflow: hidden;
            background: #fff;
        }
        .login-left {
            width: 50%;
        }
        .login-left img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .login-right {
            width: 50%;
            padding: 40px;
        }
        .form-control {
            border-radius: 10px;
        }
        .btn-login {
            background-color: #e53935;
            border: none;
            border-radius: 10px;
            padding: 10px;
            font-weight: bold;
        }
        .text-link {
            font-size: 0.9rem;
            text-decoration: none;
            color: #e53935;
        }
    </style>
</head>
<body>
    <div class="login-box">
        <div class="login-left">
            <img src="~/images/campus_qlct.png" alt="coin" />
        </div>
        <div class="login-right">
            <h4 class="mb-4 text-center text-danger">ĐĂNG NHẬP</h4>

            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label>Tên đăng nhập:</label>
                    <input asp-for="username" type="text" class="form-control" name="username" required />
                </div>
                <div class="mb-3">
                    <label>Mật khẩu:</label>
                    <input asp-for="pwd" type="password" class="form-control" name="password" required />
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div>
                        
                    </div>
                    <a href="/Account/Register" class="text-link">Đăng ký</a>
                </div>
                <button type="submit" class="btn btn-login w-100">Đăng nhập</button>
            </form>
        </div>
    </div>
</body>
</html>